.title {
  text-align: left;
  padding:0px;
}

.divider {
  background-color: var(--font-color);
  border: none; /* Removes the default border */
  height: 1px; /* Sets the height of the line */
  margin: 0px 0; /* Adds space above and below the line */
  margin-bottom: 30px;
}

