<div class="navbar">
  <div class="logoTitreContainer">
    <img
      class="logo"
      src="assets/images/general_logos/txanogorritxo.png"
      alt=""
    />
    <h1>TXANOGORRITXO</h1>
  </div>
  <div class="buttonAndCurtain">
    <button
      type="button"
      (click)="toggleCurtain()"
      [class.active]="isCurtainActive"
      [class.hidden]="isCurtainActive"
      aria-label="toggle curtain navigation"
      class="nav-toggler"
    >
      <span class="line l1"></span>
      <span class="line l2"></span>
      <span class="line l3"></span>
    </button>
    <!-- <div curtainContainer [class.active]="isCurtainContainerActive"> -->
      <nav [class.active]="isCurtainActive" [class.hidden]="isCurtainHidden">
        <a href="#"><div class="link home">Accueil</div></a>
        <a href="#"><div class="link introduction">La maison</div></a>
        <a href="#"><div class="link gallery">La galerie</div></a>
        <a href="#"><div class="link producers">Les producteurs</div></a>
        <a href="#"><div class="link events">Nos événements</div></a>
      </nav>
    <!-- </div> -->
  </div>
</div>
