.page{
  display: flex;
  width: 100%;
}

h2{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 72px;
  border-bottom: 2px solid var(--font-color);
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom:  20px;
}


.founder{
  background-color: var(--neutral-color);
}

.column{
  margin: 30px;
  width:50%;
}

.text{
  text-align: justify;
  font-size: 17px;
  max-height: 100%;
}

img{
  border: 7px solid var(--main-color);
  width: 100%;
}
.pic{
  margin-top: 30px;
}

.picFounder{
  margin-top: 10px;
}

#founder-title{
  margin-bottom: 0;
}

#founder-subtitle{
  font-size: 25px;
  margin-bottom:20px;
  margin-top:1px;
}


