.page{
  display: flex;
  width: 100%;
}

h2{
  border-bottom: 2px solid var(--font-color);
}

#founder-title{
  margin-bottom: 0;
}

.founder{
  background-color: var(--neutral-color);
}


.column{
  margin: 30px;
  width:50%;
}

.text{
  text-align: justify;
  font-size: 17px;
  max-height: 100%;
}

img{
  border: 7px solid var(--main-color);
  width: 100%;
}
.pic{
  margin-top: 30px;
}

.picFounder{
  margin-top: 10px;
}



#founder-subtitle{
  font-size: 25px;
  margin-bottom:20px;
  margin-top:1px;
}


