.page{
  display: flex;
  width: 100%;
}

.founder{
  background-color: #ffffff;
}

.column{
  margin: 30px;
  width:50%;
}

.text{
  text-align: justify;
  font-size: 17px;
  max-height: 100%;
}

img{
  border: 7px solid #F7D1C3;
  width: 100%;
}
.pic{
  margin-top: 30px;
}

.picFounder{
  margin-top: 10px;
}

#founder-title{
  margin-bottom: 0;
}

#founder-subtitle{
  font-size: 25px;
  margin-bottom:20px;
  margin-top:1px;
}
