<div class="wholePage">
  <div class="house page">
    <div class = "text column">
      <!-- <h2>La maison</h2> -->
        <p #HouseText>{{houseText}}</p>
    </div>
    <div class = "pictures column">
      <img class = "pic" src="assets/images/general_images/house1.JPG" alt="">
      <img class = "pic" src="assets/images/general_images/house2.JPG" alt="">
      <img #LastHousePic class = "pic" src="assets/images/general_images/house3.JPG" alt="">
    </div>
  </div>
  <div class="founder page">
    <div  class = "pictures column">
      <h2>Maixan NOBLIA</h2>
      <img #FounderPic class = "picFounder" src="assets/images/general_images/fondatrice.JPG" alt="">
    </div>
    <div class = "text column">
      <p #FounderText>{{founderText}}</p>
    </div>
  </div>
</div>

