<div class="card-scroll-and-title-container">
  <h2 class="title">Nos créations favorites</h2>
  <hr class="divider" />
  <div class="card-scroll-container">
    <button class="arrow left-arrow" (click)="scrollLeft()">
      <img src="assets/images/general_logos/arrow_left2.png" alt="" />
    </button>
    <div class="cards-container" #cardsContainer>
      <app-carte-producteur
        *ngFor="let card of cards"
        [card]="card"
      ></app-carte-producteur>
    </div>
    <button class="arrow right-arrow" (click)="scrollRight()">
      <img src="assets/images/general_logos/arrow_right.png" alt="" />
    </button>
    </div>
    </div>

<div class="labelsContainer">
  <div></div>
  <div class="label faitMaison">
    <img src="assets/images/general_logos/main.png" alt="" />
    <p>100% fait maison</p>
    <hr />
  </div>
  <div class="label produitsSaisonniers">
    <img src="assets/images/general_logos/saisons.png" alt="" />
    <p>Produits saisonniers</p>
    <hr />
  </div>
  <div class="label producteursLocaux">
    <img src="assets/images/general_logos/local.png" alt="" />
    <p>Producteurs locaux</p>
    <hr />
  </div>
</div>
